* {
    margin: 0 auto;
    padding: 0;
}

body {
    
}

header {
        width: 970px;
}

#menu * {
    display: inline;
    background-color: #f2f1f1;
    font-size: 15;
    font-family: Arial;
    display: table-cell;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}
li {
    text-align: center;
}

main {
    
}

.hidden {
    display: none;
}

.table {
    
    
}