* {
    margin: 0 auto;
    padding: 0;
}
nav {
    background-color: blue;
}
main {
    background-color: yellow;
}
article {
    background-color: brown;
}
section {
    background-color: green;
}
aside {
    background-color: purple;
}
section.started {
    background-color: pink;
}
section.discover {
    background-color: orange;
}
section.news {
    background-color: yellow;
}
section.address {
    background-color: gray;
}
footer {
    background-color: navy;
}
