body {
    max-width: 920px;
    margin: 0 auto;
    background: url(fon.jpg);
}

nav {
    
}

.menu {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style-type: none;
    color: #747070;
    background-color: #fbf9f9;
    border-top: 7px solid #db1d40;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 100%

}

.li-menu {
    display: inline-block;
    height: 95px;
    border-bottom: 7px solid #fbf9f9;
    width: 15%;
    text-align: center;
    vertical-align: middle;
    
}
.li-menu:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 7px solid #db1d40;
}

#facebook {
    background-image: url(iconmonstr-facebook-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #747070;
    width: 3%;
}

#twitter {
    background-image: url(iconmonstr-twitter-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #747070;
    width: 3%;
}

#linkedin {
    background-image: url(iconmonstr-linkedin-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #747070;
    width: 3%;
}


.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}
.buttons>div {
    margin: 0px;
}

#contact-us {
    margin-top: 5px;
    width: 25%;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fbf9f9;
}

#contact-us:hover {
    cursor: pointer;
    color: #db1d40;
}

#location {
    margin-top: 5px;
    width: 55%;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: #fbf9f9;
}

main {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 665px;
    background-image: url(layer_1-1.jpg);
}

main>div {
    margin: 0;
    width: 70%;
	color: #ffffff;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	padding-right: 5%;
	padding-bottom: 15%;
	margin-left: 10px;
}

#title {
    font-size: 48px;
}

#pink {
    color: #db1d40;
}

.table {
    margin: 0px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text {
    margin: 0px;
    width: 220px;
    height: 140px;
    background-color: #db1d40;
    display: table-cell;
    vertical-align: middle;
    border: 5px solid #000000;
    color: #403f3f;
}

.text:hover {
    background-color: #ffffff;
    border: 5px solid #db1d40;
    cursor: pointer;
}

span.center {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0 auto;
    vertical-align: middle;
}

.img {
    background-color: #db1d40;
    margin: 0px;
    width: 220px;
    height: 140px;
    overflow: hidden;
    border: 5px solid #000000;
}

.img:hover {
    border: 5px solid #db1d40;
    cursor: pointer;
}

section.place {
    width: 100%;
    height: 50px;
}

aside {
    margin: 0px;
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #db1d40;
}

#chapter-img {
    
}

.chapter {
    width: 41%;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

h3 {
    margin-top: 5px;
    color: #403f3f;
}
div.chapter>p {
    color: #ffffff;
}

.started {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color: #403f3f;
}
#started1 {
    width: 35%;
    font-size: 30px;
    margin-left: 10px;
}
#started2 {
    margin-left: 10px;
}

.discover {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.discover-list {
    margin: 0px;
    width: 304px;
    height: 287px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #db1d40;
}

.discover-list:hover {
    background-color: #cb003d;
    cursor: pointer;
}

.small-text {
    font-size: 12px;
}

.news {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.news>div {
    width: 350px;
    height: 240px;
    background-color: #413f3f;
    color: #db1d40;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}
.news>div:hover {
    cursor: pointer;
    background-color: #db1d40;
    color: #413f3f;
}
.title {
    font-size: 24px;
}
