body {
    max-width: 920px;
    margin: 0 auto;
    background: url(fon.jpg);
}

nav {
   
}

.menu * {
    display: flex;
    color: #747070;
    display: inline-block;
    display: table-cell;
    background-color: #f2f1f1;
    font-size: 15;
    font-family: Arial;
    padding: 30px;
    width: 100%
    
    
    
}

.menu :hover {
    color: #000000;
    background-color: #fdf5f5;
    cursor: pointer;
    font-size: 15;
    font-family: Arial;
}

li {
    text-align: center;
}

#button :hover {
    cursor: pointer;
}

#facebook {
    background-image: url(iconmonstr-facebook-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #747070;
}

#twitter {
    background-image: url(iconmonstr-twitter-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #747070;
}

#linkedin {
    background-image: url(iconmonstr-linkedin-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #747070;
}

main {
    ;
}

#img {
    width: 100%;
    position: relative;
}

.hidden {
    display: none;
    width: 100%;
}

article {
    position: absolute;
    bottom: 15%;
	left: 17%;
	width: 60%;
	color: #ffffff;
	font-size: 22;
}

#pink {
    color: #f40b52;
}


.table {
    
    
}